
version: "3.9"
services:

  nginx:
    image: docker.io/nginx:stable
    restart: unless-stopped

    volumes:
      - ./example/nginx.conf:/etc/nginx/nginx.conf:ro,z
      - ./example/data:/srv/git-sites:ro,z

    ports:
      - "8080:8080"

  gitsync:
    image: ghcr.io/obriencj/gitsync
    build:
      context: .
      dockerfile: Containerfile

    restart: unless-stopped

    environment:
      # this is also the default if not set
      - GITSYNC_CONFIG_PATH=/etc/gitsync.yml

    volumes:
      - ./example/gitsync.yml:/etc/gitsync.yml:ro,z
      - ./example/data:/srv/git-sites:rw,z

    ports:
      - "8081:8080"


# The end.
